* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: white;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
}

.nav_icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.nav img {
    background-repeat: no-repeat;
    background-size: auto;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s;
}

nav a:hover {
    color: #FF3BFF;
}

.hero {
    text-align: center;
    padding: 80px 20px 40px;
    position: relative;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.gradient-text {
    background: linear-gradient(to right, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.hero h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #ccc;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons a {
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.buttons a:hover {
    background: white;
    color: black;
}

.hero-image {
    margin-top: 60px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 20px;
    }

    .nav, .nav_icon {
        display: inline-flex;
        vertical-align: middle;
    }

    .nav {
        flex-wrap: wrap;
        gap: 5px;
        padding: 0;
        width: auto;
    }

    nav a {
        font-size: 14px;
        margin: 0;
    }

    .nav_icon {
        margin-left: auto;
        gap: 10px;
    }

    .nav_icon img {
        display: none;
        
    }
}
